html,
body {
    margin: 0;
    /*overflow: hidden;*/
    /*height: 100%;*/
    font-family: 'Open Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    /*background: #C1628A;*/
    background: #00AD95; 
    /*background: #718792;*/
    /*background: #007B6A;*/
    /*background: #EAEAEA;*/
    cursor: url(img/mobile-cursor.png) 36 36, auto;
}

h1, p, a, ol, ul, li, span {
    margin: 0;
    padding: 0;
}

.phone {
    width: 416px;
    height: 850px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(img/iphone6-portrait.png) no-repeat;
}

.phone-shadow {
    width: 450px;
    height: 884px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

/*.phone-shadow::after {
    content: "";
    background: url(img/iphone6-portrait-shadow.png) no-repeat;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}*/

#screen {
    height: 667px;
    width: 375px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #fff;
}

.wrapper {
    height: 667px;
    width: 375px;
    left: 20px;
    top: 86px;
    position: absolute;
    background: #fff;
    overflow: hidden;
}

.draw{
    left: 375;
    display: block;
}

.pick{
    display: block;
}

.container {
	width: 375px;
    height: 617px;
    background: white;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 375px;
    height: 375px;
    background-image: url("img/rock01-1.jpg");
    background-repeat: no-repeat;
    background-size: 375px 375px;
    background-position: center;
    position: relative;
}

ol {
    padding: 10px 0px 10px 30px;
}

.list {
    padding: 10px;
    height: 221px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.dot {
    width: 23px;
    height: 23px;
    border-radius: 100px;
    background: yellow;
    z-index: 999;
    position: absolute;
    text-align: center;
}



/*form fields*/

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  margin: 0;
  width: 70%;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.inputField input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 1px #eee;
  transition: border 0.3s;
}

.inputField input[type="text"]:focus,
.inputField input[type="text"].focus {
  border-bottom: solid 1px #222;
}

input.crag {
  display: inline;
  margin: 0 0 0 5px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  box-shadow: none;
  border-radius: none;
  border: none;
}

input.grade {
  display: inline;
  margin: 0;
  width: 17%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;
  border-radius: none;
  border: none;
  text-align: right;
}

/*custom scroll bar*/
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    background: rgba(255,255,255,0.6); 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4); 
}


/*header*/

.header {
    width: inherit;
    height: 50px;
    position: relative;
}

#reset {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0px;
   /* left: 324px;*/
    background-image: url("img/arrow.png");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

#back {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0px;
    background-image: url("img/arrow.png");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

#next {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 324px;
    background-image: url("img/arrow.png");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.header span {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 62px;
    top: 12px;
    /*background-color: red;*/
    width: 250px;
    text-align: center;
}

/*pick photo screen*/

.mainImg img{
    width: 375px;
    height: 375px;
}

.imgList {
    height: 616px;
    overflow: auto;
    margin: 0px 0px 0px 7px;
}

.imgList ul {
    display: block;
    list-style: none;
    margin-top: -9px;
}

.imgList li {
    float: left;
    padding: 2px;
    width: 84px;
    height: 84px;
}

.imgList img {
    width: inherit;
    height: inherit;
/*    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px;*/
}

li.date {
    /* font-weight: bold; */
    font-size: 18px;
    padding-top: 25px;
    text-align: left;
    width: 95%;
    height: 26px;
}





